{% extends 'base.html' %}
{% load static %}

{% block content %}
<article class="post-detail">
    <h2>{{ post.title }}</h2>
    <p>
        By 
        {% if post.author.profile.profile_picture %}
            <img src="{{ post.author.profile.profile_picture.url }}" alt="Profile Picture" class="profile-image" loading="lazy">
        {% else %}
            <img src="{% static 'default.png' %}" alt="Default Profile Picture" class="profile-image" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;" loading="lazy">
        {% endif %}
        <a href="{% url 'user_profile' post.author.id %}">{{ post.author.username }}</a>
        on {{ post.created_at|date:"F j, Y" }}
    </p>

    {% if post.image %}
        <a href="{% url 'post_detail' post.id %}" class="nav-item">
            <img src="{{ post.image.url }}" alt="Image for {{ post.title }}" class="post-image" loading="lazy">
        </a>
    {% else %}
        <p>No image available for this post.</p>
    {% endif %}

    <p>{{ post.content }}</p>
</article>

<div class="post-stats">
    <form method="post" action="{% url 'toggle_like_post' post.id %}" class="like-form">
        {% csrf_token %}
        <button type="submit" class="btn-like" title="{% if is_liked %}Unlike{% else %}Like{% endif %}">
            <i class="fa-regular fa-heart {% if is_liked %}liked{% endif %}"></i>
        </button>
        <span>{{ likes_count }}</span>
        <span>Likes</span>
    </form>
    <div class="comments-count">
        <i class="fa-regular fa-comment comment-icon"></i>
        <span>{{ comments.count }}</span>
        <span>Comments</span>
    </div>
</div>
<hr>

<ul class="comment-list">
    {% for comment in comments %}
        <li>
            <div class="comment-header">
                <div class="comment-author-content">
                    <strong class="comment-author">{{ comment.author }} </strong>
                    <p class="comment-content">-  {{ comment.content }}</p>
                </div>
                <p class="comment-date">{{ comment.created_at|date:"F j, Y" }}</p>
            </div>
            
            {% if comment.author == user %}
                <div class="comment-actions">
                    <!-- Edit button -->
                    <a href="{% url 'edit_comment' comment.id %}" class="btn btn-warning">Edit</a>
                    <!-- Delete button -->
                    <form method="post" action="{% url 'comment_delete' comment.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this comment?')">Delete</button>
                    </form>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<form method="post" action="{% url 'post-add_comment' post.id %}" class="add-comment-form">
    {% csrf_token %}
    <textarea name="content" placeholder="Write your comment..." required class="comment-textarea"></textarea>
    <button type="submit" class="btn btn-primary">Add Comment</button>
</form>

{% if post.author == user %}
    <hr>
    <div class="post-actions">
        <a href="{% url 'post_update' post.id %}" class="btn btn-warning edit-post">
            <i class="fa fa-edit"></i> <span>Edit Post</span>
        </a>
        <form method="post" action="{% url 'post_delete' post.id %}" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger delete-post" title="Delete Post" onclick="return confirm('Are you sure you want to delete this post?')">
                <i class="fa fa-trash"></i> <span>Delete Post</span>
            </button>
        </form>
    </div>
{% endif %}
{% endblock %}
